<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="objectscript-rest-template.ZPM">
    <Module>
      <Name>objectscript-rest-template</Name>
      <Version>1.0.4</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Sample.PKG"/>
     
       <CSPApplication 
        Url="/person"
        Path="/src/csp"
        Recurse="1"
        Directory="{$cspdir}/person" 
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
        DispatchClass="Sample.PersonREST"
        ServeFiles="1"
        CookiePath="/person"
        UseCookies="2"
       />
    </Module>
    
  </Document>
</Export>